## PORT
#PORT=8000
#
## DATABASE
#MYSQL_USERNAME=...
#MYSQL_PASSWORD=...
#MYSQL_DATABASE=...
# or
#MONGODB_URI={YOUR_MONGODB_URI}
#MONGODB_NAME={YOUR_DATABASE_NAME}
#
#
## JWT SECRET
#JWT_ACCESS_TOKEN_SECREAT_KEY=...
#JWT_REFRESH_TOKEN_SECREAT_KEY=...
#
## NODEMAILER
#NODE_MAILER_USER=lululemonapi@outlook.com
#NODE_MAILER_PASSWORD=lululemon2022
#
## REDIS
#REDIS_URL=redis://localhost:6379
# REFRESHTOKENS=...
#
# BCRYPT
#SALTROUNDS=10

## GOOGLE OAUTH
#GOOGLE_CLIENT_ID=...
#GOOGLE_CLIENT_SECRET=...
#
## FACEBOOK OAUTH
#FACEBOOK_CLIENT_ID=...
#FACEBOOK_CLIENT_SECRET=...

## COOKIE SESSION
#COOKIE_SESSION_SECRET=...

## CLIENT URL
#CLIENT_URL=http://localhost:3000/